/* payment.css */

.payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.payment-container.light-mode {
  background-color: #f9f9f9;
}

.payment-container.dark-mode {
  background-color: #1a1a1a;
}

.input-card-element {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #ffff;
}
